/* GENERAL */

* {
    font-family: 'Times New Roman', Times, serif;
}

/* UTILITY */

.flexed {
    display: flex
}

.text-center {
    text-align: center;
}

.blue-background {
    background-color: #006cfa;
}

.green-background {
    background-color: #00e165;
}

.content-padding {
    padding: 10px;
}